@import './apendts';

html { 
    box-sizing: border-box;
}

*, *::after, *::before { 
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.main {
    background: url('/codejam-eldritch/project/images/background/home.png'), no-repeat;
    width: 1920px;
    height: 1080px;
    background-size: cover;
}

.container {
    max-width: 1820px;
    padding: 0 10px;
    margin: 0 auto;
    height: 100%;
}

.main__inner {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
}

.ancient {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.ancient__hero {
   width: 80%;
    &:hover{
        border: 1px solid red;
    }
}

.hero__img{
    max-width: 100%;
}

.difficulty-level {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

.difficulty-level__btn {
    @include fonBtn;
    & + & {
        margin-top: 20px
    }
}

.btn {
    @include styleBtn;
    min-width: 250px;
    height: 50px;
}

.shuffle-deck {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.shuffle-deck__btn {
    @include fonBtn;
    margin-bottom: 20px;
    display: none;
}

.tracker {
   margin-bottom: 20px;
   display: none;
}

.stage {
    & + & {
        margin-top: 20px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stage__title {
    @include fonBtn;
    font-size:  26px;
    margin-bottom: 20px;
}

.circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    & + & {
        margin-left: 20px;
    }
}

.circle_green {
    background-color: green;
}

.circle_brown {
    background-color: brown;
}

.circle_blue {
    background-color: blue;
}

.card-deck{
    display: none;
}

.card-deck__shirt {
    width: 100%;
}

.display_activ{
    display: flex;
}

._activ{
    border: 2px solid blueviolet;
}

.difficulty-level__btn_activ{
    border: 2px solid blueviolet;
}

.tracker_activ{
    display: block;
}

.cardDeck_activ{
    display: block;
}

.shuffle-deck__btn_activ{
    display: block;
}